*{
  box-sizing: border-box;
  /* float: left; */
}
  
body{
  background-color: #DB610F30;
}

/* ------------------------------------------------- HEADER STYLING STARTS HERE */

nav > ul > li{
  display: inline;
  margin-right: 25px;
}

a{
  text-decoration: none;
  color: rgb(75, 75, 4);
  font-weight: bold;
  font-size: 15px;
}

a:hover{
  text-decoration: underline;
  font-size: 20px;
}

a:visited{
  text-decoration: none;
  color: rgb(111, 111, 3);
  /* font-weight: bold; */
  font-size: 15px;
}

/*-------------------------------------------------- MAIN STYLING STARTS HERE */


h1{
  font-family: 'Amatic SC', cursive;
  font-size: 70px;
  color: #C24B3E;
  text-shadow: 4px 4px 10px #C24B3E90;
  /* https://www.w3schools.com/cssref/css3_pr_text-shadow.asp */
  text-align: center;
  border: #627500 dotted 2px;
  border-radius: 40px;
  margin-top: 2px;
  margin-bottom: 8px;
  /* display: inline; */
  padding: 10px;
}

#logo{
  height: 150px;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 8px;
  }

h2{
  font-family: 'Amatic SC', cursive;
  font-style: italic;
  font-size: 45px;
  text-align: center;
  color: #C24B3E;
  margin-bottom: 10px;
}

section.locations{
  display: inline-block; 
  width: 49%;
}

section > ul > li{
  list-style: none;
  color: #202600;
}

li.centeredul{
  text-align: center;
  color: #202600;
}

article{
  display: inline-block;
  width: 48%;
  border: #627500 dotted 2px;
  border-radius: 40px;
  padding: 10px;
  margin-bottom: 10px;
}

/* #box-around-location{
  border: #627500 dotted 2px;
  border-radius: 40px;
} */

h3{
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 35px;
  text-align: left;
  color: #C24B3E;
  margin-left: 40px;
  margin-bottom: 10px;
  text-decoration: underline;
}

h4{
  font-family: 'Amatic SC', cursive;
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
  text-align: left;
  margin-left: 40px;
  color: #C24B3E;
  margin-bottom: 10px;
}

#centeredh4{
  font-family: 'Amatic SC', cursive;
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin-left: 40px;
  color: #C24B3E;
  margin-bottom: 10px;
}


p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 22px;
  font-style: italic;
  color: #202600;
  margin-left: 40px;
  margin-right: 40px;
}

#fishschool{
  float: right;
  opacity: .2;
  height: 250px;

}

footer{
  color: #202600;
  font-size: 20px;
}


/* #ourstory{
  background-image: url("img/fish-nobackground.png");
} */

/* #picture-line{
  list-style: none;
}

ul#picture-line li{
  display: inline;
} */

/*-------------------------------------------------- FOOTER STYLING STARTS HERE */