*{
  box-sizing: border-box;
}
  
body{
  background-color: #DB610F30;
}

/* ------------------------------------------------- HEADER STYLING STARTS HERE */

nav > ul > li{
  display: inline;
  margin-right: 25px;
}

a{
  text-decoration: none;
  color: rgb(75, 75, 4);
  font-weight: bold;
  font-size: 15px;
}

a:hover{
  text-decoration: underline;
  font-size: 20px;
}

a:visited{
  text-decoration: none;
  color: rgb(111, 111, 3);
  font-size: 15px;
}

/*-------------------------------------------------- MAIN STYLING STARTS HERE */


#divone{
  text-align: center;
  width: 100%;
}

h1{
  font-family: 'Amatic SC', cursive;
  font-size: 70px;
  color: #C24B3E;
  text-shadow: 4px 4px 10px #C24B3E90;
  /* https://www.w3schools.com/cssref/css3_pr_text-shadow.asp */
  text-align: center;
  border: #627500 dotted 2px;
  border-radius: 40px;
  margin-top: 2px;
  margin-bottom: 8px;
  padding: 10px;
}

#logo{
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  }

h2{
  font-family: 'Amatic SC', cursive;
  font-style: italic;
  font-size: 45px;
  text-align: center;
  color: #C24B3E;
  margin-bottom: 10px;
}

/*---------------------------------------------------------------------*/

#articleone{
  float: left;
  height: 600px;
  width: 49%;
  border: #627500 dotted 2px;
  border-radius: 40px;
  overflow: hidden;
}

#articletwo{
  float: right;
  height: 600px;
  width: 49%;
  border: #627500 dotted 2px;
  border-radius: 40px;
  overflow: hidden;
}

section.locations{
  display: inline-block; 
  height: 100%;
  width: 49%;
}

section > ul > li{
  list-style: none;
  color: #202600;
}

li.centeredul{
  text-align: center;
  color: #202600;
}

h3{
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 35px;
  text-align: left;
  color: #C24B3E;
  margin-left: 40px;
  margin-bottom: 10px;
  text-decoration: underline;
}

p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 22px;
  font-style: italic;
  color: #202600;
  margin-left: 40px;
  margin-right: 40px;
  /* float: left; */
}

#biggerp{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  font-style: italic;
  color: #202600;
  margin-left: 40px;
  margin-right: 40px;
}

figure{
  float: right;
  opacity: .2;
  margin-top: 40px;
}

h4{
  font-family: 'Amatic SC', cursive;
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
  text-align: left;
  margin-left: 40px;
  color: #C24B3E;
  margin-bottom: 10px;
}

#centeredh4{
  font-family: 'Amatic SC', cursive;
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin-left: 40px;
  color: #C24B3E;
  margin-bottom: 10px;
}

/*-------------------------------------------------- FOOTER STYLING STARTS HERE */

footer{
  clear: both;
  color: #202600;
  font-size: 20px;
}

footer > img{
  margin-top: 20px;
}
