body{
  background-color: #DB610F60;
}

a{
  text-decoration: none;
  color: rgb(75, 75, 4);
  font-weight: bold;
  font-size: 15px;
}

a:hover{
  text-decoration: underline;
  font-size: 20px;
}

a:visited{
  text-decoration: none;
  color: rgb(111, 111, 3);
  /* font-weight: bold; */
  font-size: 15px;
}

h1{
  font-family: 'Amatic SC', cursive;
  border: #323a07 dotted 2px;
  border-radius: 40px;
  padding-left: 40px;
  color: rgb(171, 62, 50);
  text-shadow: 4px 4px 10px #C24B3E90;
}  

form{
  background-color: #323a07;
  border-radius: 10px;
  color: whitesmoke;
}
  
table {
  border-collapse: collapse;
  border-radius: 10px;
  background-color: #323a07;
  color: whitesmoke;
}

td {
  border: solid whitesmoke 1px;
  width: 5%;
  text-align: center;
  padding: 3px;
  font-family: Arial, Helvetica, sans-serif;
  
}

input{
  display: block;
  max-width: 25%;
}

input[type=number]{
  width: 220px;
} 

input[type=text]{
  width: 220px;
} 

footer > nav > ul > li{
  display: inline;
  margin-right: 25px;
}

p{
  font-style: italic;
  font-size: 20px;
}
img.merch{
  border: solid #627500 3px;
  border-radius: 20px;
  height: 200px;
}